/* Estilo para todo el cuerpo */
body {

    font-family: 'Times New Roman';
    background-color: #0c84ec;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500gh;
}

/* Estilo para el formulario */
form {
    background-color: #2c30ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Estilo para los fieldsets y legend */
fieldset {
    border: 2px solid #008cba;
    padding: 10px;
}

legend {
    font-weight: bold;
    color: #050008f1;
}

/* Estilo para las etiquetas */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"],
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para los botones de radio y casillas de verificación */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #008cba;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #005f73;
}
